@use 'var';
@use 'color';
@use 'selector';

$top-warp-height: 10%;
$bg-bd-color: color.lightness(var.$gray, 40%);
$table-body-height: 46px;

.admin {
  .adminbox {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .padadmin {
    padding: 20px 100px;
    size: 100%;
  }

  .listpage-top {
    height: $top-warp-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  // table
  .table-wrapper {
    height: 100 - $top-warp-height;
    background: $bg-bd-color;
    border: 2px solid $bg-bd-color;
    border-radius: var.$b-radius;
    overflow: hidden;
  }

  .sub-table-wrapper {
    overflow-y: scroll;
    height: calc(100% - #{$table-body-height});
  }

  .datalist {
    border-collapse: collapse;
    width: 100%;

    width: 100%;

    & th,
    & td {
      text-align: center;
    }

    td {
      border-bottom: 1px solid $bg-bd-color;
      height: $table-body-height;
    }

    tr:not(.tablehead) {
      @extend %animate-all;
      background: white;
    }

    tr:not(.tablehead):hover {
      background: color.lightness(var.$gray, 55%);
    }

    &.head {
      height: 100%;
    }

    a {
      size: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-decoration: none;
    }
  }

  .head-wrapper {
    background: white;
    padding-right: var.$scrollbar-width;
    border-bottom: 2px solid $bg-bd-color;
    height: $table-body-height;
  }

  .addupdate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .admin-btn-pos {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 1rem;
    }
  }

  .input-au {
    display: block;
  }

  .img-upload {
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .im {
      flex: 1 1 auto;
      width: 100%;
      height: 50vmin;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
      border-radius: var.$b-radius;
      overflow: hidden;

      p {
        color: white;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 50vmin;
      }
    }
  }

  %txt-warn {
    font-size: 0.75em;
    color: var.$txt-warn;
    align-self: flex-end;
  }

  .txt-info {
    @extend %txt-warn;
    margin: 0.5em 0 0 0;
    color: var.$txt-info;
  }

  .with-warn {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;

    .warn {
      @extend %txt-warn;
    }
  }
}
