@use 'var';
@use 'color';
@use 'selector';
@use 'responsive';

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px + 52px 5% 80px 5%;
  width: 100%;

  @include responsive.respond-to(responsive.$phone) {
    & {
      padding: 50px + 52px 0 80px 0;
    }
  }

  @include responsive.respond-to(responsive.$desktop-mid) {
    & {
      padding: 50px + 52px 5% 80px 5%;
    }
  }

  & > h2 {
    margin-bottom: 50px;
  }

  .loader {
    height: 50vh;
  }
}
