@use "./var";
@use "./color";
@use "./animation";

*:focus {
    outline: none;
}

// Normalize
html,
body {
    margin: 0;
}

div,
span,
button,
input,
select,
textarea {
    box-sizing: border-box;
}

// Text-Normalize
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    display: block;
    margin: 0 0 0.5rem 0;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
th,
td,
button,
input,
select,
textarea {
    font-family: var.$font-fam;
}

p,
a,
button,
label,
th,
td,
h6,
input,
select,
textarea {
    font-size: 1rem;
}

h5 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.75rem;
}

h2 {
    font-size: 2rem;
}

h1 {
    font-size: 2.25rem;
}

// button
button {
    box-sizing: border-box;
    padding: 2px 15px;
    border-radius: 100px;
    color: white;
}

@mixin btn($color) {
    border: var.$border-width solid $color;
    background-color: $color;
    @extend %animate-all;

    &:hover {
        cursor: pointer;
        border: var.$border-width solid color.darker($color);
        background-color: color.darker($color);
    }

    &:active {
        box-shadow: 0px 0px 0px var.$hightlight-width color.for-hightlight($color);
    }
}

.btn-default {
    @include btn(var.$default);
}

.btn-success {
    @include btn(var.$success);
}

.btn-warn {
    @include btn(var.$warn);
}

// input
.form-control {
    margin-bottom: 1rem;
}

input[type="text"],
textarea {
    @extend %animate-all;
    padding: 2px 15px;
    border: var.$border-width solid var.$gray;
    border-radius: 20px;

    &:hover {
        border-color: color.darker(var.$gray);
    }

    &:focus {
        box-shadow: 0px 0px 0px var.$hightlight-width color.for-hightlight(var.$gray);
    }
}

textarea {
    display: block;
    resize: none;
    overflow: hidden;
}