// color
$gray: #707070;
$default: #7E7E7E;
$success: #97DC4A;
$warn: #FF4F4F;
$white: #fff;
$violet: #725d79;
$link: #733e85;

// border
$border-width: 1px;
$hightlight-width: 2.5px;
$b-radius: 10px;

// animation
$animation-time: 0.25s;

// font
$font-fam: (Sarabun, sans-serif);
$font-scaler: 0.5;

// margin padding
$txt-m-bot: 0.5rem;
$label-m-right: 0.5rem;
$txt-box-pad: 2px;
$form-comtrol-bot: 1rem;

// scrollbar
$scrollbar-width: 6px;
$scrollbar-track-color: #f0f0f0;
$scrollbar-thumb-color: #bdbdbd;

// CheckBox
$label-pad-left: 10px;
$cb-size: 30px;
$cb-top: -1px;
$cb-left: 0;

// cb tick
$tick-left: 5.75px;
$tick-top: 2.8px;

//admin thingy
$navbar-width: 15vw;
$navbar-minwidth: 165px;
$top-part-h: 3rem;