// color
$gray: #707070;
$default: #7E7E7E;
$success: #97DC4A;
$warn: #FF4F4F;
$white: #ffff;

// border
$border-width: 1px;
$hightlight-width: 2.5px;
$b-radius: 10px;

// animation
$animation-time: 0.25s;

// font
$font-fam: ('Sarabun', sans-serif);
$font-scaler: 0.5;

// margin padding
$txt-m-bot: 0.5rem;
$label-m-right: 0.5rem;
$txt-box-pad: 2px;
$form-comtrol-bot: 1rem;

// scrollbar
$scrollbar-width: 6px;
$scrollbar-track-color: #f0f0f0;
$scrollbar-thumb-color: #bdbdbd;

// CheckBox
$label-pad-left: 30px;
$cb-size: 25px;
$cb-top: 0px;
$cb-left: 0;

// cb tick
$tick-short-length: 3px;
$tick-long-length: 10px;
$tick-left: 8.5px;
$tick-top: 4px;
$tick-width: 3px;
$tick-rotate: 40deg;

//admin thingy
$navbar-width: 15vw;
$top-part-h: 7vh;