@use 'var';

// class for fade transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity var.$animation-time linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// for admin topbar
.topbar-enter-active {
  transition: opacity var.$animation-time linear,
    transform var.$animation-time cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.topbar-enter {
  opacity: 0;
  transform: translateX(100%);
}

.topbar-leave-to {
  opacity: 0;
}