@use 'var';
@use 'color';
@use 'selector';

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

@import 'sanitize.css';

::-webkit-scrollbar {
  width: var.$scrollbar-width;
  height: var.$scrollbar-width;
}

::-webkit-scrollbar-track {
  background: var.$scrollbar-track-color;
  border-radius: var.$scrollbar-width;
}

::-webkit-scrollbar-thumb {
  @extend %animate-all;
  background: var.$scrollbar-thumb-color;
  border-radius: var.$scrollbar-width;
}

::-webkit-scrollbar-thumb:hover {
  background: color.lightness(var.$scrollbar-thumb-color, -20%);
}

:root {
  scrollbar-width: thin;
  scrollbar-color: var.$scrollbar-thumb-color var.$scrollbar-track-color;
}

::selection {
  background: color.alpha(lightblue, -0.5%);
}

::-moz-selection {
  background: color.alpha(lightblue, -0.5%);
}

*,
*:focus {
  outline: none;
}

* {
  font-family: inherit;
}

// Normalize
html,
body {
  //overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: auto;
  font-family: var.$font-fam;
}

// Text-Normalize
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 var.$txt-m-bot 0;
  word-wrap: break-word;
}

p,
a,
button,
label,
th,
td,
h6,
input,
select,
textarea {
  font-size: 1rem;
  line-height: 1.5;
}

h5 {
  font-size: 1rem + (1 * var.$font-scaler);
}

h4 {
  font-size: 1rem + (2 * var.$font-scaler);
}

h3 {
  font-size: 1rem + (3 * var.$font-scaler);
}

h2 {
  font-size: 1rem + (4 * var.$font-scaler);
}

h1 {
  font-size: 1rem + (5 * var.$font-scaler);
}

label {
  margin-right: var.$label-m-right;
}

// button
button,
[type='button'],
[type='reset'],
[type='submit'] {
  @extend %blockpadd;
  color: white;
  user-select: none;

  & .fas:not(.no-m) {
    margin-right: var.$b-radius;
  }
}

@mixin btn($color) {
  border: var.$border-width solid $color;
  background-color: $color;
  @extend %animate-all;

  &:hover {
    cursor: pointer;
    border: var.$border-width solid color.lightness($color, -20%);
    background-color: color.lightness($color, -20%);
  }

  &:active,
  &:focus {
    box-shadow: 0px 0px 0px var.$hightlight-width color.alpha($color, -0.4%);
  }

  &[disabled] {
    border: var.$border-width solid color.lightness($color, 20%);
    background-color: color.lightness($color, 20%);

    &:hover,
    &:active,
    &:focus {
      cursor: not-allowed;
    }
  }
}

.btn-default {
  @include btn(var.$default);
}

.btn-success {
  @include btn(var.$success);
}

.btn-warn {
  @include btn(var.$warn);
}

// input
.form-control {
  margin-bottom: var.$form-comtrol-bot;
}

input[type='text'],
textarea {
  @extend %animate-all;
  @extend %grayblock;

  border: var.$border-width solid var.$gray;

  &:hover {
    border-color: color.lightness(var.$gray, -20%);
  }

  &:focus {
    box-shadow: 0px 0px 0px var.$hightlight-width color.alpha(var.$gray, -0.4%);
  }

  &::placeholder {
    user-select: none;
  }

  &.error {

    border-color: var.$warn;

    &:hover {
      border-color: color.lightness(var.$warn, -20%);
    }

    &:focus {
      box-shadow: 0px 0px 0px var.$hightlight-width color.alpha(var.$warn, -0.4%);
    }

    &::placeholder {
      color: color.alpha(var.$warn, -0.1%);
    }

  }
}

textarea {
  display: block;
  resize: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.input-group {
  &>* {
    position: relative;
    z-index: 0;
  }

  input {
    border-right: none;
    border-radius: var.$b-radius 0 0 var.$b-radius;

    &:focus {
      z-index: 1;
    }
  }

  button {
    border-radius: 0 var.$b-radius var.$b-radius 0;

    &:active,
    &:focus {
      z-index: 1;
    }
  }
}

// a
a {
  @extend %animate-all;

}

.link {
  text-underline-offset: 25%;
  color: var.$link;
  text-decoration: underline color.alpha(var.$link, -1) solid;

  &:hover {
    text-decoration: underline color.alpha(var.$link, 1) solid;
    text-underline-offset: 5%;
  }

  &:active,
  &:visited {
    color: var.$link;
  }
}



.loader {
  size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.blackcover {
    top: 0;
    left: 0;
    position: absolute;
    background-color: color.alpha(var.$black, -0.8);
    z-index: 20000;
  }
}



.spinner {
  size: 50px;
  animation: spin 1.25s infinite linear;
  border-radius: 100%;
  border-right-color: transparent !important;
}

.spinner-white {
  border: 7px solid white;
}

.spinner-black {
  border: 7px solid var.$black;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  user-select: none;
}